@charset "UTF-8";
/*Цвета проекта*/
/*Общие стили проекта*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4D665D;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  border: 4px solid #fff;
}

body {
  overflow-x: hidden;
  background: black;
  background: white;
  background: #FCF4F2;
}

body, ul, li, a, button, h1, h2, h3, h4, input, textarea {
  padding: 0px;
  margin: 0px;
  /*font-family: $font*/
}

textarea, input {
  outline: none !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section__title {
  width: 100%;
}
.section__title h2 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 49px;
  color: #4D665D;
  text-transform: uppercase;
  width: 100%;
}
@media (max-width: 992px) {
  .section__title h2 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .section__title h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .section__title h2 {
    font-size: 24px;
  }
}

.header {
  position: fixed;
  width: 100%;
  padding: 10px 57px;
  z-index: 3;
}
.header * {
  font-family: "Alumni Sans", sans-serif;
  color: #4D665D;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.hamburger {
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 3;
  cursor: pointer;
  padding: 15px;
  background: #4D665D;
  border-radius: 50px;
  display: None;
}
@media (max-width: 1300px) {
  .hamburger {
    display: flex;
  }
}
.hamburger span {
  background: white;
  width: 35px;
  height: 5px;
  transition: 0.3s ease;
}

.transparent {
  background: transparent;
}

.dark {
  background: black !important;
}

.prevent-scroll {
  overflow-y: hidden;
}

.opened {
  left: 0px !important;
}

.header__wrapper {
  padding: 6px 33px;
  background: #FCF4F2;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  max-height: 65px;
  gap: 40px;
}
@media (max-width: 1300px) {
  .header__wrapper {
    padding: 30px;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    width: 100%;
    max-height: none;
    top: 0;
    left: -1300px;
    border-radius: 0;
    justify-content: flex-start;
    gap: 20px;
  }
}

.header__menu {
  align-items: center;
  display: flex;
}
.header__menu .menu__items {
  display: Flex;
  gap: 50px;
}
@media (max-width: 1300px) {
  .header__menu .menu__items {
    flex-direction: column;
    gap: 20px;
  }
}

.social__items {
  display: flex;
  gap: 38px;
  align-items: center;
}
@media (max-width: 1300px) {
  .social__items {
    flex-direction: column;
    border-top: 1px solid #F1D9D1;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
  }
}
.social__items li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__items li a {
  max-height: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 50px;
  gap: 16px;
  width: 100%;
  max-width: 1420px;
}
@media (max-width: 992px) {
  .services {
    padding: 60px 50px;
  }
}
@media (max-width: 768px) {
  .services {
    padding: 60px 40px;
  }
}
@media (max-width: 576px) {
  .services {
    padding: 30px;
  }
}
@media (max-width: 380px) {
  .services {
    padding: 30px 20px;
  }
}

.services__title h2 {
  text-align: end;
}

.services__content {
  display: flex;
  gap: 32px;
  max-width: 1420px;
  width: 100%;
  min-height: 538px;
}
@media (max-width: 768px) {
  .services__content {
    flex-direction: column;
    gap: 15px;
  }
}

.services__img {
  max-width: 654px;
  min-width: 144px;
  width: 100%;
}
.services__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  height: 100%;
}
@media (max-width: 768px) {
  .services__img {
    height: 300px;
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 30px;
}
@media (max-width: 576px) {
  .services__list {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    gap: 15px;
  }
}

.services__item {
  border-radius: 25px;
  background: rgb(241, 217, 209);
  position: relative;
  border: 2px solid transparent;
}
.services__item:hover {
  border: 2px solid rgb(241, 217, 209);
  background: white;
}
.services__item a {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
}
.services__item a img {
  position: absolute;
  right: 20px;
  top: 20px;
}
@media (max-width: 768px) {
  .services__item a img {
    top: 7px;
  }
}
.services__item a span {
  color: #4D665D;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  text-align: unset;
  display: flex;
  align-items: end;
}
@media (max-width: 992px) {
  .services__item a span {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .services__item a span {
    font-size: 16px;
    line-height: 24px;
    max-width: 79%;
  }
}

.promo {
  width: 100%;
  height: 585px;
  position: relative;
}
@media (max-width: 992px) {
  .promo {
    height: 363px;
  }
}
@media (max-width: 768px) {
  .promo {
    height: 336px;
  }
}
@media (max-width: 576px) {
  .promo {
    height: 252px;
  }
}
@media (max-width: 380px) {
  .promo {
    height: 136px;
  }
}
.promo .swiper {
  width: 100%;
  height: 100%;
}
.promo .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo .swiper-slide img {
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.promo .swiper-pagination-bullet {
  width: 20px !important;
  height: 2px !important;
}
.promo .swiper-pagination-bullet-active {
  width: 35px !important;
  background: linear-gradient(90deg, #F2C888 0%, #A87616 100%) !important;
}
.promo .swiper-pagination {
  width: 150px !important;
  bottom: 140px !important;
  left: 6% !important;
  display: flex;
  justify-content: flex-start;
}
.promo .slide__background {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, #1d1d1d 100%);
}
.promo .slide__content * {
  color: white;
  font-family: Montserrat;
  text-align: left;
}
.promo .slide__content {
  position: absolute;
  top: 127px;
  left: 6%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}
.promo .slide__content h3 {
  color: white;
  font-size: 48px;
  font-weight: 900;
  line-height: 58.51px;
  text-transform: uppercase;
}
.promo .slide__content span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.promo .slide__content span b {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.promo .slide__content a {
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  gap: 7px;
  align-items: center;
}
.promo .slide__content a .el {
  width: 35px;
  height: 2px;
  border-radius: 4px;
  background: linear-gradient(90deg, #F2C888 0%, #A87616 100%);
}

.about {
  background: #F1D9D1;
  padding: 35px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .about {
    padding: 40px 20px;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 50px 20px;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 20px;
  }
}

.about__layout {
  display: flex;
  gap: 20px;
  max-width: 1420px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 654px;
  width: 80%;
}
@media (max-width: 576px) {
  .about__content {
    width: 100%;
    max-width: none;
  }
}
.about__content span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4D665D;
}
.about__content span a {
  text-decoration: underline;
}
@media (max-width: 992px) {
  .about__content span {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .about__content span {
    font-size: 14px;
    line-height: 21px;
  }
}
.about__content .about__btn {
  color: #4D665D;
  border: 1px solid #4D665D;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  max-width: 540px;
  padding: 22px;
  border-radius: 13px;
}
@media (max-width: 992px) {
  .about__content .about__btn {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .about__content .about__btn {
    font-size: 14px;
    line-height: 21px;
    padding: 10px;
  }
}
.about__content .about__btn:hover {
  color: white;
  background: #4D665D;
}

@media (max-width: 576px) {
  .about__img {
    display: none;
  }
}
.about__img img {
  width: 100%;
  height: 538px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  min-width: 344px;
}
@media (max-width: 768px) {
  .about__img img {
    min-width: 100px;
    height: 412px;
    max-width: 274px;
  }
}

.ticker {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.ticker {
  height: 27px;
}

.ticker .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: ticker 50s linear infinite;
}
.ticker .track .content {
  letter-spacing: -0.13px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  color: #4D665D;
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.sertifications {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 90px 60px;
}
@media (max-width: 992px) {
  .sertifications {
    padding: 20px;
  }
}
.sertifications .sertifications__layout {
  width: 100%;
  max-width: 1420px;
}
.sertifications .sertifications__title {
  text-align: end;
  padding-bottom: 50px;
}
@media (max-width: 992px) {
  .sertifications .sertifications__title {
    padding-bottom: 20px;
  }
}
.sertifications .swiper-button-next:after, .sertifications .swiper-rtl .swiper-button-prev:after, .sertifications .swiper-button-prev:after, .sertifications .swiper-rtl .swiper-button-next:after {
  display: none;
}
.sertifications .sert-swiper {
  padding-bottom: 40px;
  max-width: 1113px;
}
.sertifications .swiper-slide {
  display: flex;
  justify-content: center;
}
.sertifications .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 4px;
}
.sertifications .swiper-pagination-bullet-active {
  width: 50px;
  background: linear-gradient(90deg, #F2C888 0%, #A87616 100%) !important;
}
.sertifications .swiper-button-prev, .sertifications .swiper-button-next {
  width: 50px;
  height: 50px;
}
@media (max-width: 992px) {
  .sertifications .swiper-button-prev, .sertifications .swiper-button-next {
    display: none;
  }
}
.sertifications .swiper-pagination {
  width: 100%;
  bottom: 20px !important;
  display: flex;
  justify-content: center;
}
.sertifications img {
  width: 100%;
  max-width: 920px;
}
.sertifications .sert__annotation {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sertifications span {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 459px;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
}
.gallery .gallery__items {
  max-width: 1420px;
  width: 100%;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-auto-rows: 433px;
  row-gap: 30px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 992px) {
  .gallery .gallery__items {
    grid-auto-rows: 272px;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .gallery .gallery__items {
    grid-auto-rows: 208px;
  }
}
.gallery .gallery__items .gallery__item {
  background: #D9D9D9;
  border-radius: 25px;
}
.gallery .gallery__items .gallery__item img {
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .gallery__items .gallery__item:first-child {
  grid-area: 1/1/1/1;
}
@media (max-width: 576px) {
  .gallery .gallery__items .gallery__item:first-child {
    grid-area: 1/1/1/3;
  }
}
.gallery .gallery__items .gallery__item:nth-child(2) {
  grid-area: 1/2/1/2;
}
@media (max-width: 576px) {
  .gallery .gallery__items .gallery__item:nth-child(2) {
    grid-area: 2/1/2/5;
  }
}
.gallery .gallery__items .gallery__item:nth-child(3) {
  grid-area: 1/4/1/4;
}
@media (max-width: 576px) {
  .gallery .gallery__items .gallery__item:nth-child(3) {
    grid-area: 1/3/1/5;
  }
}
.gallery .gallery__items .gallery__item:nth-child(4) {
  grid-area: 2/2/2/2;
}
@media (max-width: 576px) {
  .gallery .gallery__items .gallery__item:nth-child(4) {
    grid-area: 3/1/3/3;
  }
}
.gallery .gallery__items .gallery__item:last-child {
  grid-area: 2/3/2/5;
}
@media (max-width: 576px) {
  .gallery .gallery__items .gallery__item:last-child {
    grid-area: 3/3/3/5;
  }
}

.brands {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #F1D9D1;
  margin: 90px 0px;
}
@media (max-width: 992px) {
  .brands {
    margin: 30px 0px;
  }
}
.brands .brands__layout {
  max-width: 1420px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding: 35px 20px;
}
.brands .brands__layout .brands__title {
  text-align: flex-start;
}
.brands .brands__layout img {
  width: 100%;
}/*# sourceMappingURL=main.css.map */