@charset "UTF-8";
/*Цвета проекта*/
/*Общие стили проекта*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4D665D;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  border: 4px solid #fff;
}

body {
  overflow-x: hidden;
  background: black;
  background: white;
  background: #FCF4F2;
}

body, ul, li, a, button, h1, h2, h3, h4, input, textarea {
  padding: 0px;
  margin: 0px;
  /*font-family: $font*/
}

textarea, input {
  outline: none !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: fixed;
  width: 100%;
  padding: 10px 57px;
  z-index: 3;
}
.header * {
  font-family: "Alumni Sans", sans-serif;
  color: #4D665D;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.hamburger {
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 3;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .hamburger {
    display: flex;
  }
}
.hamburger span {
  background: white;
  width: 35px;
  height: 5px;
  transition: 0.3s ease;
}

.dark {
  background: black !important;
}

.prevent-scroll {
  overflow-y: hidden;
}

.opened {
  left: 0px !important;
}

.header__wrapper {
  padding: 6px 33px;
  background: #FCF4F2;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  max-height: 65px;
  gap: 40px;
}
@media (max-width: 1300px) {
  .header__wrapper {
    padding: 30px;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    width: 100%;
    max-height: none;
    top: 0;
    left: -1300px;
    border-radius: 0;
    justify-content: flex-start;
    gap: 20px;
  }
}

.header__menu {
  align-items: center;
  display: flex;
}
.header__menu .menu__items {
  display: Flex;
  gap: 50px;
}
@media (max-width: 1300px) {
  .header__menu .menu__items {
    flex-direction: column;
    gap: 20px;
  }
}

.social__items {
  display: flex;
  gap: 38px;
  align-items: center;
}
@media (max-width: 1300px) {
  .social__items {
    flex-direction: column;
    border-top: 1px solid #F1D9D1;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
  }
}
.social__items li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__items li a {
  max-height: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 50px;
  gap: 16px;
  width: 100%;
  max-width: 1420px;
}
@media (max-width: 992px) {
  .services {
    padding: 60px 50px;
  }
}
@media (max-width: 768px) {
  .services {
    padding: 60px 40px;
  }
}
@media (max-width: 576px) {
  .services {
    padding: 30px;
  }
}
@media (max-width: 380px) {
  .services {
    padding: 30px 20px;
  }
}

.services__title {
  width: 100%;
}
.services__title h2 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 49px;
  text-align: end;
  color: #4D665D;
  text-transform: uppercase;
  width: 100%;
}

.services__content {
  display: flex;
  gap: 32px;
  max-width: 1420px;
  width: 100%;
  min-height: 538px;
}

.services__img {
  max-width: 654px;
  min-width: 344px;
  width: 100%;
}
.services__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  height: 100%;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(239px, 1fr));
  gap: 30px;
}

.services__item {
  border-radius: 25px;
  background: rgb(241, 217, 209);
  position: relative;
}
.services__item a {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
}
.services__item a img {
  position: absolute;
  right: 20px;
  top: 20px;
}
.services__item a span {
  color: #4D665D;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  text-align: unset;
  display: flex;
  align-items: end;
}

.promo {
  width: 100%;
  height: 585px;
  position: relative;
}
@media (max-width: 992px) {
  .promo {
    height: 363px;
  }
}
@media (max-width: 768px) {
  .promo {
    height: 336px;
  }
}
@media (max-width: 576px) {
  .promo {
    height: 252px;
  }
}
@media (max-width: 380px) {
  .promo {
    height: 136px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 2px !important;
}

.swiper-pagination-bullet-active {
  width: 35px !important;
  background: linear-gradient(90deg, #F2C888 0%, #A87616 100%) !important;
}

.swiper-pagination {
  width: 150px !important;
  bottom: 140px !important;
  left: 6% !important;
  display: flex;
  justify-content: flex-start;
}

.slide__background {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, #1d1d1d 100%);
}

.slide__content * {
  color: white;
  font-family: Montserrat;
  text-align: left;
}

.slide__content {
  position: absolute;
  top: 127px;
  left: 6%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}
.slide__content h3 {
  color: white;
  font-size: 48px;
  font-weight: 900;
  line-height: 58.51px;
  text-transform: uppercase;
}
.slide__content span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.slide__content span b {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.slide__content a {
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  gap: 7px;
  align-items: center;
}
.slide__content a .el {
  width: 35px;
  height: 2px;
  border-radius: 4px;
  background: linear-gradient(90deg, #F2C888 0%, #A87616 100%);
}/*# sourceMappingURL=main.css.map */