@charset "UTF-8";
/*Цвета проекта*/
/*Общие стили проекта*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4D665D;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  border: 4px solid #fff;
}

body {
  overflow-x: hidden;
  background: black;
  background: white;
  background: #FCF4F2;
}

body, ul, li, a, button, h1, h2, h3, h4, input, textarea {
  padding: 0px;
  margin: 0px;
  /*font-family: $font*/
}

textarea, input {
  outline: none !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section__title {
  width: 100%;
}
.section__title h2 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 49px;
  color: #4D665D;
  text-transform: uppercase;
  width: 100%;
}
@media (max-width: 992px) {
  .section__title h2 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .section__title h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .section__title h2 {
    font-size: 24px;
  }
}

.header {
  position: fixed;
  width: 100%;
  padding: 10px 57px;
  z-index: 4;
}
.header * {
  font-family: "Alumni Sans", sans-serif;
  color: #4D665D;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}
.header a:hover {
  color: #FFCD55;
}

.hamburger {
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 3;
  cursor: pointer;
  padding: 11px;
  background: #4D665D;
  border-radius: 50px;
  display: None;
}
@media (max-width: 1300px) {
  .hamburger {
    display: flex;
  }
}
.hamburger span {
  background: white;
  width: 19px;
  height: 3px;
  transition: 0.3s ease;
}

.transparent {
  background: transparent;
}

.dark {
  background: black !important;
}

.prevent-scroll {
  overflow-y: hidden;
}

.opened {
  left: 0px !important;
}

.header__wrapper {
  padding: 6px 33px;
  background: #FFE9DC;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  max-height: 65px;
  gap: 40px;
}
@media (max-width: 1300px) {
  .header__wrapper {
    padding: 30px;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    width: 100%;
    max-height: none;
    top: 0;
    left: -1300px;
    border-radius: 0;
    justify-content: flex-start;
    gap: 20px;
  }
}

.header__menu {
  align-items: center;
  display: flex;
}
.header__menu .menu__items {
  display: Flex;
  gap: 50px;
}
@media (max-width: 1300px) {
  .header__menu .menu__items {
    flex-direction: column;
    gap: 20px;
  }
}

.social__items {
  display: flex;
  gap: 38px;
  align-items: center;
}
@media (max-width: 1300px) {
  .social__items {
    flex-direction: column;
    border-top: 1px solid #F1D9D1;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
  }
}
.social__items li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__items li a {
  max-height: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-page {
  background: #FCF4F2;
}
.price-page .header .header__wrapper {
  background: #FCF4F2;
}
.price-page .main {
  padding-top: 135px;
}

.banner {
  width: 100%;
  position: relative;
}
.banner .banner__bg {
  height: 906px;
}
@media (max-width: 992px) {
  .banner .banner__bg {
    height: 569px;
  }
}
@media (max-width: 768px) {
  .banner .banner__bg {
    height: 500px;
  }
}
.banner .banner__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.banner .banner__content {
  position: absolute;
  left: 7%;
  top: 25%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .banner .banner__content {
    top: 2%;
  }
}
.banner .banner__content h1 {
  font-family: "Oranienbaum";
  font-size: 64px;
  color: white;
  margin-left: -130px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .banner .banner__content h1 {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .banner .banner__content h1 {
    font-size: 38px;
  }
}
@media (max-width: 992px) {
  .banner .banner__content img {
    max-width: 233px;
  }
}
@media (max-width: 768px) {
  .banner .banner__content img {
    max-width: 225px;
  }
}

.banner__dark {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  inset: 0px;
}

.banner__aside {
  position: absolute;
  right: 90px;
  top: 355px;
  max-width: 226px;
  z-index: 3;
}
@media (max-width: 992px) {
  .banner__aside {
    display: none;
  }
}
.banner__aside span {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 19.5px;
  color: white;
}

.banner__bottom {
  position: absolute;
  bottom: 53px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 3;
}
@media (max-width: 992px) {
  .banner__bottom {
    bottom: 20px;
  }
}
@media (max-width: 576px) {
  .banner__bottom {
    gap: 10px;
  }
}
@media (max-width: 380px) {
  .banner__bottom {
    gap: 5px;
  }
}
.banner__bottom span {
  color: white;
  text-align: center;
  max-width: 1001px;
  padding: 0px 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  color: white;
}
@media (max-width: 992px) {
  .banner__bottom span {
    font-size: 14px;
    font-weight: 400;
  }
}
@media (max-width: 576px) {
  .banner__bottom span {
    font-size: 10px;
  }
}

.mainpage .banner__content {
  flex-direction: column;
  align-items: flex-end;
  bottom: 17%;
  top: auto;
  text-align: left;
}
.mainpage .banner__content span {
  font-family: Oraniembaum;
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
  color: white;
  text-align: left;
  width: 100%;
  max-width: 689px;
}
@media (max-width: 768px) {
  .mainpage .banner__content span {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .mainpage .banner__content span {
    font-size: 28px;
  }
}
.mainpage .banner__content span:nth-child(2) {
  color: #FFCD55;
  text-align: end;
  font-size: 64px;
  width: 100%;
  text-align: left;
  padding-left: 175px;
}
@media (max-width: 768px) {
  .mainpage .banner__content span:nth-child(2) {
    padding-left: 100px;
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .mainpage .banner__content span:nth-child(2) {
    padding-left: 20px;
    font-size: 36px;
  }
}

.services.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 50px;
  gap: 16px;
  width: 100%;
  max-width: 1420px;
}
@media (max-width: 992px) {
  .services.mainpage {
    padding: 60px 50px;
  }
}
@media (max-width: 768px) {
  .services.mainpage {
    padding: 60px 40px;
  }
}
@media (max-width: 576px) {
  .services.mainpage {
    padding: 30px;
  }
}
@media (max-width: 380px) {
  .services.mainpage {
    padding: 30px 20px;
  }
}

.services__title h2 {
  text-align: end;
}

.services__content {
  display: flex;
  gap: 32px;
  max-width: 1420px;
  width: 100%;
  min-height: 538px;
}
@media (max-width: 768px) {
  .services__content {
    flex-direction: column;
    gap: 15px;
  }
}

.services__img {
  max-width: 654px;
  min-width: 144px;
  width: 100%;
}
.services__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  height: 100%;
}
@media (max-width: 768px) {
  .services__img {
    height: 300px;
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 30px;
}
@media (max-width: 576px) {
  .services__list {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    gap: 15px;
  }
}

.services__item {
  border-radius: 25px;
  background: rgb(241, 217, 209);
  position: relative;
  border: 2px solid transparent;
  display: flex;
}
.services__item:hover {
  border: 2px solid rgb(241, 217, 209);
  background: white;
}
.services__item a {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
}
.services__item a img {
  position: absolute;
  right: 20px;
  top: 20px;
}
@media (max-width: 768px) {
  .services__item a img {
    top: 7px;
  }
}
.services__item a span {
  color: #4D665D;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  text-align: unset;
  display: flex;
  align-items: end;
}
@media (max-width: 992px) {
  .services__item a span {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .services__item a span {
    font-size: 16px;
    line-height: 24px;
    max-width: 79%;
  }
}

.promo {
  width: 100%;
  height: 585px;
  position: relative;
}
@media (max-width: 992px) {
  .promo {
    height: 363px;
  }
}
@media (max-width: 768px) {
  .promo {
    height: 336px;
  }
}
@media (max-width: 576px) {
  .promo {
    height: 252px;
  }
}
@media (max-width: 380px) {
  .promo {
    height: 136px;
  }
}
.promo .swiper {
  width: 100%;
  height: 100%;
}
.promo .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo .swiper-slide img {
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.promo .swiper-pagination-bullet {
  width: 20px !important;
  height: 2px !important;
}
.promo .swiper-pagination-bullet-active {
  width: 35px !important;
  background: linear-gradient(90deg, #F2C888 0%, #A87616 100%) !important;
}
.promo .swiper-pagination {
  width: 150px !important;
  bottom: 140px !important;
  left: 6% !important;
  display: flex;
  justify-content: flex-start;
}
.promo .slide__background {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, #1d1d1d 100%);
}
.promo .slide__content * {
  color: white;
  font-family: Montserrat;
  text-align: left;
}
.promo .slide__content {
  position: absolute;
  top: 127px;
  left: 6%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}
.promo .slide__content h3 {
  color: white;
  font-size: 48px;
  font-weight: 900;
  line-height: 58.51px;
  text-transform: uppercase;
}
.promo .slide__content span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.promo .slide__content span b {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.promo .slide__content a {
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  gap: 7px;
  align-items: center;
}
.promo .slide__content a .el {
  width: 35px;
  height: 2px;
  border-radius: 4px;
  background: linear-gradient(90deg, #F2C888 0%, #A87616 100%);
}

.about {
  background: #F1D9D1;
  padding: 35px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .about {
    padding: 40px 20px;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 50px 20px;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 20px;
  }
}

.about__layout {
  display: flex;
  gap: 20px;
  max-width: 1420px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 654px;
  width: 80%;
}
@media (max-width: 576px) {
  .about__content {
    width: 100%;
    max-width: none;
  }
}
.about__content span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4D665D;
}
.about__content span a {
  text-decoration: underline;
}
@media (max-width: 992px) {
  .about__content span {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .about__content span {
    font-size: 14px;
    line-height: 21px;
  }
}
.about__content .about__btn {
  color: #4D665D;
  border: 1px solid #4D665D;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  max-width: 540px;
  padding: 22px;
  border-radius: 13px;
}
@media (max-width: 992px) {
  .about__content .about__btn {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .about__content .about__btn {
    font-size: 14px;
    line-height: 21px;
    padding: 10px;
  }
}
.about__content .about__btn:hover {
  color: white;
  background: #4D665D;
}

@media (max-width: 576px) {
  .about__img {
    display: none;
  }
}
.about__img img {
  width: 100%;
  height: 538px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  min-width: 344px;
}
@media (max-width: 768px) {
  .about__img img {
    min-width: 100px;
    height: 412px;
    max-width: 274px;
  }
}

.ticker {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.ticker {
  height: 27px;
}

.ticker .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: ticker 50s linear infinite;
}
.ticker .track .content {
  letter-spacing: -0.13px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  color: #4D665D;
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.sertifications {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 90px 60px;
}
@media (max-width: 992px) {
  .sertifications {
    padding: 20px;
  }
}
.sertifications .sertifications__layout {
  width: 100%;
  max-width: 1420px;
}
.sertifications .sertifications__title {
  text-align: end;
  padding-bottom: 50px;
}
@media (max-width: 992px) {
  .sertifications .sertifications__title {
    padding-bottom: 20px;
  }
}
.sertifications .swiper-button-next:after, .sertifications .swiper-rtl .swiper-button-prev:after, .sertifications .swiper-button-prev:after, .sertifications .swiper-rtl .swiper-button-next:after {
  display: none;
}
.sertifications .sert-swiper {
  padding-bottom: 40px;
  max-width: 1113px;
}
.sertifications .swiper-slide {
  display: flex;
  justify-content: center;
}
.sertifications .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 4px;
}
.sertifications .swiper-pagination-bullet-active {
  width: 50px;
  background: linear-gradient(90deg, #F2C888 0%, #A87616 100%) !important;
}
.sertifications .swiper-button-prev, .sertifications .swiper-button-next {
  width: 50px;
  height: 50px;
}
@media (max-width: 992px) {
  .sertifications .swiper-button-prev, .sertifications .swiper-button-next {
    display: none;
  }
}
.sertifications .swiper-pagination {
  width: 100%;
  bottom: 20px !important;
  display: flex;
  justify-content: center;
}
.sertifications img {
  width: 100%;
  max-width: 920px;
}
.sertifications .sert__annotation {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sertifications span {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 459px;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
}
.gallery .gallery__items {
  max-width: 1420px;
  width: 100%;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-auto-rows: 433px;
  row-gap: 30px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 992px) {
  .gallery .gallery__items {
    grid-auto-rows: 272px;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .gallery .gallery__items {
    grid-auto-rows: 208px;
  }
}
.gallery .gallery__items .gallery__item {
  background: #D9D9D9;
  border-radius: 25px;
  position: relative;
}
.gallery .gallery__items .gallery__item img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.gallery .gallery__items .gallery__item:first-child {
  grid-area: 1/1/1/1;
}
@media (max-width: 576px) {
  .gallery .gallery__items .gallery__item:first-child {
    grid-area: 1/1/1/3;
  }
}
.gallery .gallery__items .gallery__item:nth-child(2) {
  grid-area: 1/2/1/2;
}
@media (max-width: 576px) {
  .gallery .gallery__items .gallery__item:nth-child(2) {
    grid-area: 2/1/2/5;
  }
}
.gallery .gallery__items .gallery__item:nth-child(3) {
  grid-area: 1/4/1/4;
}
@media (max-width: 576px) {
  .gallery .gallery__items .gallery__item:nth-child(3) {
    grid-area: 1/3/1/5;
  }
}
.gallery .gallery__items .gallery__item:nth-child(4) {
  grid-area: 2/2/2/2;
}
@media (max-width: 576px) {
  .gallery .gallery__items .gallery__item:nth-child(4) {
    grid-area: 3/1/3/3;
  }
}
.gallery .gallery__items .gallery__item:last-child {
  grid-area: 2/3/2/5;
}
@media (max-width: 576px) {
  .gallery .gallery__items .gallery__item:last-child {
    grid-area: 3/3/3/5;
  }
}

.brands {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #F1D9D1;
  margin: 90px 0px;
}
.brands .brands__layout {
  max-width: 1420px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding: 35px 20px;
}
.brands .brands__layout .brands__title {
  text-align: flex-start;
}
.brands .brands__layout img {
  width: 100%;
}

.callback {
  background: #F1D9D1;
  max-width: 1222px;
  width: 95%;
  border-radius: 25px;
  padding: 3.5% 6.5%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 20px 20px 60px;
}
@media (max-width: 992px) {
  .callback {
    margin: 0px 20px 30px;
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .callback {
    flex-direction: column;
    align-items: center;
    max-width: 600px;
  }
}

.callback__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 768px) {
  .callback__form {
    width: 100%;
  }
}
.callback__form h2 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 48.51px;
  color: #4D665D;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .callback__form h2 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .callback__form h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .callback__form h2 {
    font-size: 24px;
  }
}
.callback__form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 351px;
}
@media (max-width: 768px) {
  .callback__form form {
    max-width: none;
  }
}
.callback__form form .callback__group {
  position: relative;
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
.callback__form form .callback__group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
  max-width: 351px;
}
@media (max-width: 768px) {
  .callback__form form .callback__group input {
    max-width: none;
  }
}
.callback__form form .callback__group input:focus {
  outline: none;
}
.callback__form form .callback__group input:focus ~ .bar:before, .callback__form form .callback__group input:focus ~ .bar:after {
  width: 60%;
}
.callback__form form .callback__group label {
  color: #999;
  position: absolute;
  pointer-events: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.callback__form form .callback__group input:focus ~ label, .callback__form form .callback__group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #4D665D;
}
.callback__form form .callback__group .bar {
  position: relative;
  display: block;
  width: 300px;
  /* active state */
}
.callback__form form .callback__group .bar:before, .callback__form form .callback__group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4D665D;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.callback__form form .callback__group .bar:before {
  left: 57%;
}
.callback__form form .callback__group .bar:after {
  right: 40%;
}
.callback__form form .callback__group .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.callback__form form .callback__group input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
.callback__form button {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  border: 1px solid #4D665D;
  border-radius: 13px;
  padding: 22px 5%;
  background: transparent;
  cursor: pointer;
  color: #4D665D;
}
@media (max-width: 768px) {
  .callback__form button {
    font-size: 18px;
    padding: 10px 5%;
  }
}
@media (max-width: 576px) {
  .callback__form button {
    font-size: 16px;
  }
}
.callback__form button:hover {
  background: #4D665D;
  color: white;
}
.callback__form span {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  color: #4D665D;
}

.callback__contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 768px) {
  .callback__contacts {
    width: 100%;
  }
}

.contacts__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contacts__group:nth-child(2) a {
  font-family: Alumni Sans;
}
.contacts__group:nth-child(3) a {
  line-height: 0;
}
.contacts__group a {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.76px;
  color: #4D665D;
}
@media (max-width: 992px) {
  .contacts__group a {
    font-size: 30px;
  }
}
.contacts__group a:hover {
  color: #FFCD55;
}
.contacts__group span {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #4D665D;
}
@keyframes inputHighlighter {
  from {
    background: #4D665D;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.services-page .services {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../img/services-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 20px;
}
@media (max-width: 768px) {
  .services-page .services {
    padding: 60px 20px;
  }
}
@media (max-width: 576px) {
  .services-page .services {
    padding: 30px 20px;
  }
}

.services-items {
  max-width: 1520px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  padding: 90px 0px;
  gap: 50px;
}
@media (max-width: 768px) {
  .services-items {
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 25px;
    padding: 60px 0px;
  }
}
@media (max-width: 576px) {
  .services-items {
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    padding: 30px 20px;
  }
}
.services-items .services-item a {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.services-items .services-item a .services-item__text {
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
}
@media (max-width: 480px) {
  .services-items .services-item a img {
    width: 100%;
    max-width: 280px;
    min-width: 220px;
  }
}
.services-items .services-item a span {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #4D665D;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.services-items .services-item:first-child img, .services-items .services-item:nth-child(2) img, .services-items .services-item:nth-child(3) img {
  border-top: 5px solid #FDD5C7;
  padding-top: 20px;
}

.services__more {
  border: 1px solid #4D665D;
  padding: 22px 22px;
  width: 100%;
  max-width: 540px;
  border-radius: 13px;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #4D665D;
}
.services__more:hover {
  border: 1px solid #FFCD55;
  color: #FFCD55;
  background: white;
}

.our-team {
  width: 100%;
  position: relative;
  height: 100%;
  padding: 80px 20px;
}
@media (max-width: 992px) {
  .our-team {
    padding: 50px 20px;
  }
}
@media (max-width: 768px) {
  .our-team {
    padding: 30px 20px;
  }
}

.our-team__heading {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 0px 0px 27px;
}
@media (max-width: 576px) {
  .our-team__heading {
    flex-direction: column;
    gap: 20px;
  }
}
.our-team__heading h2 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 48.51px;
  color: #4D665D;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .our-team__heading h2 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .our-team__heading h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .our-team__heading h2 {
    font-size: 24px;
  }
}
.our-team__heading span {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  max-width: 654px;
  color: #4D665D;
}
@media (max-width: 768px) {
  .our-team__heading span {
    font-size: 14px;
  }
}

.our-team__content .swiper {
  width: 100%;
  height: 100%;
  height: 470px;
  max-width: 1420px;
  overflow: visible;
}
@media (max-width: 992px) {
  .our-team__content .swiper {
    height: 419px;
  }
}
@media (max-width: 768px) {
  .our-team__content .swiper {
    height: 350px;
  }
}
@media (max-width: 576px) {
  .our-team__content .swiper {
    height: 350px;
    overflow: hidden;
  }
}
.our-team__content .swiper .swiper-wrapper {
  align-items: center;
}
.our-team__content .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 25px;
  position: relative;
  max-height: 412px;
  transition: 0.3s ease;
}
@media (max-width: 992px) {
  .our-team__content .swiper-slide {
    height: 357px;
  }
}
@media (max-width: 768px) {
  .our-team__content .swiper-slide {
    height: 298px;
  }
}
@media (max-width: 576px) {
  .our-team__content .swiper-slide {
    height: 291px;
  }
}
.our-team__content .swiper .swiper-slide-active {
  max-height: 470px;
}
@media (max-width: 992px) {
  .our-team__content .swiper .swiper-slide-active {
    height: 419px;
  }
}
@media (max-width: 768px) {
  .our-team__content .swiper .swiper-slide-active {
    height: 350px;
  }
}
@media (max-width: 576px) {
  .our-team__content .swiper .swiper-slide-active {
    height: 350px;
  }
}
.our-team__content .swiper .slide-content .slide-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.our-team__content .swiper .slide-content .slide-img .slide-bg {
  position: absolute;
  inset: 0;
  background: black;
  z-index: 0;
  border-radius: 20px;
}
.our-team__content .swiper .slide-content .slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  z-index: 1;
  opacity: 0.7;
}
.our-team__content .swiper .slide-description {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px;
  position: relative;
  z-index: 1;
}
.our-team__content .swiper .slide-description h3, .our-team__content .swiper .slide-description li, .our-team__content .swiper .slide-description a {
  color: white;
}
.our-team__content .swiper .slide-description h3 {
  font-family: Montserrat;
  font-size: 14px;
  text-align: left;
  padding-bottom: 5px;
}
.our-team__content .swiper .slide-description li {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}
.our-team__content .swiper .slide-description a {
  border: 1px solid #FFFFFF;
  border-radius: 13px;
  margin-top: 40px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  padding: 8px 12px;
  max-width: 247px;
}
.our-team__content .swiper .slide-description a:hover {
  background: white;
  color: #FFCD55;
  border: 1px solid #FFCD55;
}

.contacts {
  width: 100%;
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 992px) {
  .contacts {
    padding: 60px 20px;
  }
}
@media (max-width: 768px) {
  .contacts {
    padding: 40px 20px;
  }
}
@media (max-width: 576px) {
  .contacts {
    padding: 30px 20px;
  }
}
.contacts .contacts__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  gap: 30px;
}
@media (max-width: 768px) {
  .contacts .contacts__wrapper {
    flex-direction: column;
  }
}
.contacts .contacts__info {
  padding: 0px 3%;
  max-width: 770px;
  width: 100%;
}
.contacts .contacts__info .contacts__address {
  display: flex;
  flex-direction: column;
}
.contacts .contacts__info .contacts__address span {
  padding: 30px 0px 20px;
}
.contacts .contacts__info .contacts__social {
  max-width: 312px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts .contacts__info .contacts__social a:hover span {
  color: #FFCD55;
}
.contacts .contacts__info .contacts__mail a, .contacts .contacts__info .contacts__phone a {
  display: flex;
  gap: 20px;
  align-items: center;
}
.contacts h2 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 48.51px;
  color: #4D665D;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 992px) {
  .contacts h2 {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 768px) {
  .contacts h2 {
    font-size: 30px;
    text-align: left;
  }
}
@media (max-width: 576px) {
  .contacts h2 {
    font-size: 24px;
  }
}
.contacts h3 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 48.51px;
  color: #4D665D;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .contacts h3 {
    font-size: 36px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .contacts h3 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .contacts h3 {
    font-size: 24px;
  }
}
.contacts span {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  max-width: 654px;
  color: #4D665D;
}
@media (max-width: 768px) {
  .contacts span {
    font-size: 14px;
  }
}
.contacts .contacts__map {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-height: 422px;
}
.contacts .contacts__map .map {
  height: 100%;
}
.contacts .contacts__map h2 {
  text-align: center;
}
.contacts .contacts__map iframe {
  border: none;
}

.about-us {
  display: flex;
  padding: 90px;
  gap: 50px;
  justify-content: center;
  width: 100%;
}
@media (max-width: 992px) {
  .about-us {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .about-us {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .about-us__img {
    display: none;
  }
}
.about-us__img img {
  min-width: 354px;
  width: 100%;
}
@media (max-width: 992px) {
  .about-us__img img {
    min-width: 300px;
  }
}
.about-us__content {
  max-width: 655px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-us__content h2 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 48.51px;
  color: #4D665D;
  text-transform: uppercase;
  text-align: end;
}
@media (max-width: 992px) {
  .about-us__content h2 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .about-us__content h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .about-us__content h2 {
    font-size: 24px;
  }
}
.about-us__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-us__text span {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 768px) {
  .about-us__text span {
    font-size: 14px;
  }
}

.mission {
  background: #F1D9D1;
  margin-bottom: 30px;
  display: flex;
  padding: 60px;
  gap: 50px;
  justify-content: center;
  width: 100%;
}
@media (max-width: 992px) {
  .mission {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .mission {
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .mission__img {
    display: None;
  }
}
.mission__img img {
  min-width: 354px;
  width: 100%;
}
@media (max-width: 992px) {
  .mission__img img {
    min-width: 320px;
  }
}
@media (max-width: 768px) {
  .mission__img img {
    min-width: 260px;
  }
}
.mission__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 469px;
}
@media (max-width: 576px) {
  .mission__content {
    max-width: none;
  }
}
.mission__content .mission__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mission__content h2 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 48.51px;
  color: #4D665D;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .mission__content h2 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .mission__content h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .mission__content h2 {
    font-size: 24px;
  }
}
.mission__content span, .mission__content li {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  color: #4D665D;
}
@media (max-width: 768px) {
  .mission__content span, .mission__content li {
    font-size: 14px;
  }
}
.mission__content ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: "-";
}

.work {
  padding: 90px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1420px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .work {
    padding: 60px 20px;
  }
}
@media (max-width: 768px) {
  .work {
    padding: 55px 20px;
  }
}
.work h2 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 48.51px;
  color: #4D665D;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .work h2 {
    font-size: 36px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .work h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .work h2 {
    font-size: 24px;
  }
}
.work .swiper {
  width: 100%;
  height: 100%;
  max-height: 434px;
  overflow: visible;
}
@media (max-width: 992px) {
  .work .swiper {
    height: 434px;
  }
}
@media (max-width: 768px) {
  .work .swiper {
    height: 346px;
  }
}
.work .swiper .swiper-scrollbar {
  height: 5px;
  background: #D9D9D9;
  display: flex;
  align-items: center;
  bottom: -50px;
  max-width: 550px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 992px) {
  .work .swiper .swiper-scrollbar {
    max-width: 332px;
  }
}
@media (max-width: 768px) {
  .work .swiper .swiper-scrollbar {
    max-width: 232px;
    height: 3px;
  }
}
@media (max-width: 576px) {
  .work .swiper .swiper-scrollbar {
    max-width: 170px;
    height: 2px;
  }
}
.work .swiper .swiper-scrollbar-drag {
  height: 10px;
  background: #4D665D;
}
@media (max-width: 768px) {
  .work .swiper .swiper-scrollbar-drag {
    height: 7px;
  }
}
@media (max-width: 576px) {
  .work .swiper .swiper-scrollbar-drag {
    height: 4px;
  }
}
.work .swiper-wrapper {
  align-items: center;
}
.work .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  max-height: 434px;
  max-width: 327px;
}
@media (max-width: 992px) {
  .work .swiper-slide img {
    height: 353px;
    opacity: 0.6;
  }
}
@media (max-width: 992px) {
  .work .swiper-slide img {
    height: 288px;
  }
}
.work .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.work .swiper-slide-active img {
  opacity: 1;
}
@media (max-width: 992px) {
  .work .swiper-slide-active img {
    height: 434px;
  }
}
@media (max-width: 768px) {
  .work .swiper-slide-active img {
    height: 346px;
  }
}
@media (max-width: 992px) {
  .work .swiper-slide-active {
    max-height: 419px;
  }
}

.price {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 90px;
  max-width: 1420px;
}
@media (max-width: 992px) {
  .price {
    padding: 0px 50px;
  }
}
@media (max-width: 576px) {
  .price {
    padding: 0px 20px;
  }
}

.price__heading h1 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 48.51px;
  color: #4D665D;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 992px) {
  .price__heading h1 {
    font-size: 36px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .price__heading h1 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .price__heading h1 {
    font-size: 24px;
  }
}

.price__tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 7px;
}
@media (max-width: 576px) {
  .price__tabs {
    flex-direction: column;
  }
}
.price__tabs li {
  display: flex;
  align-items: center;
  border: 1px solid #325353;
  margin: -0.5px;
}
.price__tabs li a {
  padding: 17px 32px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  line-height: 18.29px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .price__tabs li a {
    font-size: 14px;
    padding: 12px;
  }
}
@media (max-width: 576px) {
  .price__tabs li a {
    width: 100%;
  }
}
.price__tabs li a:hover {
  background: #4D665D;
  color: white;
}

.price__content {
  display: flex;
  flex-direction: column;
}

.price__group {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  border-top: 1px solid #4D665D;
}
@media (max-width: 576px) {
  .price__group {
    flex-direction: column;
    gap: 15px;
  }
}
.price__group h2 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #4D665D;
  padding-top: 20px;
  max-width: 328px;
  width: 25%;
}
@media (max-width: 992px) {
  .price__group h2 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .price__group h2 {
    padding-top: 10px;
  }
}
@media (max-width: 576px) {
  .price__group h2 {
    width: 100%;
  }
}

.price__items {
  width: 100%;
  max-width: 840px;
}

.price__item {
  padding: 23px 8px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
@media (max-width: 768px) {
  .price__item {
    padding: 12px 8px;
  }
}
.price__item:nth-child(odd) {
  background: #F1D9D1;
}

.price__item__info h3 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  gap: 5px;
}
@media (max-width: 768px) {
  .price__item__info h3 {
    font-size: 14px;
  }
}
.price__item__info h3 p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}
@media (max-width: 768px) {
  .price__item__info h3 p {
    font-size: 14px;
  }
}
.price__item__info span {
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 24px;
  color: #4D665D;
}
@media (max-width: 768px) {
  .price__item__info span {
    font-size: 12px;
  }
}

.price__cost {
  flex-shrink: 0;
}
.price__cost span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 768px) {
  .price__cost span {
    font-size: 12px;
  }
}

.sales {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1620px;
  width: 100%;
  padding: 180px 90px 0px;
}
@media (max-width: 1300px) {
  .sales {
    padding: 80px 20px;
    gap: 40px;
  }
}
@media (max-width: 992px) {
  .sales {
    padding: 60px 20px;
  }
}
@media (max-width: 768px) {
  .sales {
    gap: 20px;
    padding: 40px 20px;
  }
}

.sales__heading {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 576px) {
  .sales__heading {
    flex-direction: column;
    gap: 15px;
  }
}
.sales__heading h1 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 48.51px;
  color: #4D665D;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  max-width: 300px;
}
@media (max-width: 992px) {
  .sales__heading h1 {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 768px) {
  .sales__heading h1 {
    font-size: 30px;
    text-align: left;
    line-height: 30px;
  }
}
@media (max-width: 576px) {
  .sales__heading h1 {
    font-size: 24px;
  }
}
.sales__heading span {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  max-width: 654px;
  color: #4D665D;
  max-width: 765px;
}
@media (max-width: 768px) {
  .sales__heading span {
    font-size: 14px;
  }
}

.sales__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(331px, auto));
  gap: 40px;
}
@media (max-width: 992px) {
  .sales__items {
    grid-template-columns: repeat(auto-fit, minmax(215px, auto));
  }
}

.sales__item {
  position: relative;
}
.sales__item:hover .sales__bg {
  opacity: 0.7;
}
.sales__item:hover .sales__btn {
  opacity: 1;
}
.sales__item img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.sales__bg {
  background: black;
  opacity: 0;
  position: absolute;
  inset: 0;
  border-radius: 25px;
}

.sales__btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  opacity: 0;
}
.sales__btn a {
  border: 1px solid #4D665D;
  background: #4D665D;
  border-radius: 25px;
  padding: 12px;
  color: white;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sales__btn a:hover {
  background: white;
  color: #4D665D;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1620px;
  width: 100%;
  padding: 180px 90px 0px;
}
@media (max-width: 1300px) {
  .news {
    padding: 80px 20px;
    gap: 40px;
  }
}
@media (max-width: 992px) {
  .news {
    padding: 60px 20px;
  }
}
@media (max-width: 768px) {
  .news {
    gap: 20px;
    padding: 20px 20px;
  }
}

.news__heading {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 576px) {
  .news__heading {
    gap: 15px;
  }
}
.news__heading h2 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 48.51px;
  color: #4D665D;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}
@media (max-width: 992px) {
  .news__heading h2 {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 768px) {
  .news__heading h2 {
    font-size: 30px;
    text-align: left;
    line-height: 30px;
  }
}
@media (max-width: 576px) {
  .news__heading h2 {
    font-size: 24px;
  }
}
.news__heading h1 {
  font-family: Montserrat;
  font-size: 25px;
  line-height: 24px;
  font-weight: 400;
  color: #4D665D;
}
@media (max-width: 768px) {
  .news__heading h1 {
    font-size: 20px;
  }
}

.news__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, auto));
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 65px;
}
@media (max-width: 768px) {
  .news__content {
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  }
}
.news__content img {
  border-radius: 25px;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .news__content img {
    height: 250px;
  }
}
.news__content .news__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.news__content .news__text span, .news__content .news__text li {
  color: #4D665D;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
@media (max-width: 768px) {
  .news__content .news__text span, .news__content .news__text li {
    font-size: 14px;
  }
}
.news__content .news__text li {
  margin-left: 30px;
}
.news__content .news__text ul {
  list-style-type: disc;
}

.sales-page {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1620px;
  width: 100%;
  padding: 180px 90px 0px;
}
@media (max-width: 1300px) {
  .sales-page {
    padding: 80px 20px;
    gap: 40px;
  }
}
@media (max-width: 992px) {
  .sales-page {
    padding: 60px 20px;
  }
}
@media (max-width: 768px) {
  .sales-page {
    gap: 20px;
    padding: 20px 20px;
  }
}

.sales-page__heading {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 576px) {
  .sales-page__heading {
    gap: 15px;
  }
}
.sales-page__heading h2 {
  font-family: Oranienbaum;
  font-size: 42px;
  font-weight: 400;
  line-height: 48.51px;
  color: #4D665D;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}
@media (max-width: 992px) {
  .sales-page__heading h2 {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 768px) {
  .sales-page__heading h2 {
    font-size: 30px;
    text-align: left;
    line-height: 30px;
  }
}
@media (max-width: 576px) {
  .sales-page__heading h2 {
    font-size: 24px;
  }
}
.sales-page__heading h1 {
  font-family: Montserrat;
  font-size: 25px;
  line-height: 24px;
  font-weight: 400;
  color: #4D665D;
}
@media (max-width: 768px) {
  .sales-page__heading h1 {
    font-size: 20px;
  }
}

.sales-page__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, auto));
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 65px;
}
@media (max-width: 768px) {
  .sales-page__content {
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  }
}
.sales-page__content img {
  border-radius: 25px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .sales-page__content img {
    height: 250px;
  }
}
.sales-page__content .sales-page__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sales-page__content .sales-page__text span, .sales-page__content .sales-page__text li {
  color: #4D665D;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
@media (max-width: 768px) {
  .sales-page__content .sales-page__text span, .sales-page__content .sales-page__text li {
    font-size: 14px;
  }
}
.sales-page__content .sales-page__text li {
  margin-left: 30px;
}
.sales-page__content .sales-page__text ul {
  list-style-type: disc;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #4D665D;
  margin: 60px 67px;
}
@media (max-width: 992px) {
  .footer {
    margin: 60px 40px 20px;
  }
}
@media (max-width: 768px) {
  .footer {
    margin: 30px 20px 20px;
  }
}
@media (max-width: 576px) {
  .footer {
    margin: 20px 20px 20px;
  }
}
.footer a:hover {
  color: #FFCD55;
}

.footer span, .footer a {
  color: #4D665D;
  font-family: "Alumni Sans";
}

.footer__wrapper {
  max-width: 878px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 27px 0px;
}

.footer__logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer__logo img {
  max-width: 340px;
}

.footer__nav ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 576px) {
  .footer__nav ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.footer__nav ul li a {
  font-size: 24px;
}
@media (max-width: 768px) {
  .footer__nav ul li a {
    font-size: 20px;
  }
}

.footer__info {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 768px) {
  .footer__info {
    flex-direction: column;
    gap: 10px;
  }
}

.footer__address {
  display: flex;
  justify-content: center;
}
.footer__address span {
  font-size: 24px;
  text-align: center;
}
@media (max-width: 768px) {
  .footer__address span {
    font-size: 20px;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__contacts a {
  font-size: 24px;
}
@media (max-width: 768px) {
  .footer__contacts a {
    font-size: 20px;
  }
}
.footer__contacts a:hover {
  color: #FFCD55;
}

.footer__social {
  min-height: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .footer__social {
    min-height: 40px;
  }
}

.footer__tg, .footer__vk {
  padding: 16.5px 25px;
}
@media (max-width: 768px) {
  .footer__tg, .footer__vk {
    padding: 13.5px 20px;
  }
}

.footer__tg {
  background: url(../img/tg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__vk {
  background: url(../img/vk.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
}
@media (max-width: 768px) {
  .footer__copyright {
    gap: 10px;
  }
}
.footer__copyright > * {
  font-size: 20px;
}
@media (max-width: 768px) {
  .footer__copyright > * {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */