.contacts
    width: 100%
    padding: 90px 20px

    display: flex
    flex-direction: column
    gap: 50px

    @include desktop-small
        padding: 60px 20px

    @include tablet
        padding: 40px 20px

    @include mobile-big
        padding: 30px 20px

    .contacts__wrapper
        display: flex
        justify-content: space-between
        gap: 80px

        @include desktop-small
        gap: 30px

        @include tablet
            flex-direction: column

    .contacts__info
        padding: 0px 3%
        max-width: 770px
        width: 100%

        .contacts__address
            display: flex
            flex-direction: column
            span
                padding: 30px 0px 20px

        .contacts__social
            max-width: 312px
            display: flex
            flex-direction: column
            gap: 20px

            a:hover span
                color: $yellow

        .contacts__mail a, .contacts__phone a
            display: flex
            gap: 20px
            align-items: center

    h2
        font-family: Oranienbaum
        font-size: 42px
        font-weight: 400
        line-height: 48.51px
        color: $green
        text-transform: uppercase
        text-align: center

        @include desktop-small
            font-size: 36px
            line-height: 40px

        @include tablet
            font-size: 30px
            text-align: left

        @include mobile-big
            font-size: 24px

    h3
        font-family: Oranienbaum
        font-size: 42px
        font-weight: 400
        line-height: 48.51px
        color: $green
        text-transform: uppercase

        @include desktop-small
            font-size: 36px
            line-height: 30px

        @include tablet
            font-size: 30px

        @include mobile-big
            font-size: 24px

    span
        font-family: Montserrat
        font-size: 16px
        line-height: 24px
        max-width: 654px
        color: $green

        @include tablet
            font-size: 14px

    .contacts__map
        display: flex
        flex-direction: column
        gap: 15px
        width: 100%
        max-height: 422px

        .map
            height: 100%

        h2
            text-align: center

        iframe
            border: none
