.sales
    display: flex
    flex-direction: column
    gap: 60px
    max-width: 1620px
    width: 100%
    padding: 180px 90px 0px

    @media (max-width: 1300px)
        padding: 80px 20px
        gap: 40px

    @include desktop-small
        padding: 60px 20px

    @include tablet
        gap: 20px
        padding: 40px 20px

.sales__heading
    display: flex
    justify-content: space-between
    gap: 30px

    @include mobile-big
        flex-direction: column
        gap: 15px

    h1
        font-family: Oranienbaum
        font-size: 42px
        font-weight: 400
        line-height: 48.51px
        color: $green
        text-transform: uppercase
        text-align: left
        width: 100%
        max-width: 300px

        @include desktop-small
            font-size: 36px
            line-height: 40px

        @include tablet
            font-size: 30px
            text-align: left
            line-height: 30px

        @include mobile-big
            font-size: 24px

    span
        font-family: Montserrat
        font-size: 16px
        line-height: 24px
        max-width: 654px
        color: $green
        max-width: 765px

        @include tablet
            font-size: 14px
.sales__items
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(331px, auto))
    gap: 40px

    @include desktop-small
        grid-template-columns: repeat(auto-fit, minmax(215px, auto))

.sales__item
    position: relative

    &:hover
        .sales__bg
            opacity: 0.7

        .sales__btn
            opacity: 1

    img
        display: flex
        object-fit: cover
        width: 100%

.sales__wrapper

.sales__bg
    background: black
    opacity: 0
    position: absolute
    inset: 0
    border-radius: 25px

.sales__btn
    position: absolute
    bottom: 20px
    left: 20px
    right: 20px
    opacity: 0

    a
        border: 1px solid $green
        background: $green
        border-radius: 25px
        padding: 12px
        color: white

        font-family: Montserrat
        font-size: 20px
        font-weight: 400
        text-align: center

        width: 100%
        display: flex
        align-items: center
        justify-content: center

        &:hover
            background: white
            color: $green
